.form-card {
    min-height: 100vh;
}

#header {
    background: #fafbff;
}

.left-side {
    border-right: 1px solid #dcdcdc;
    background: #f4f6f8;
}

.login-card {
    min-width: 500px;
    padding: 4rem;
}